<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=895522500485524";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="header">
    <div class="subc">
    <div class="logo"><img src="{{asset('img/logo-slim2.png')}}" height="48" alt=""> The Voice of Young Europe</div>
    <div class="menu">
        <a href="{{l('/')}}">Home</a>
        <a href="{{l('/partners')}}">Partners</a>
        <a href="{{l('/objectives')}}">Objectives</a>
        <a href="{{l('/about-us')}}">About us</a>
        <a href="{{l('/forum')}}">Forum</a>
    </div>
    </div>
</div>