<div id="index-slider" class="slider-pro">
    <div class="sp-slides">
       {% for item in slides %}
        <div class="sp-slide">
            <img class="sp-image" src="{{asset(item.name)}}" data-src="{{asset(item.name)}}" data-retina="{{asset(item.name)}}"/>
            {%if item.text is defined %}
            <h3 class="sp-layer sp-white sp-padding" data-horizontal="30" data-vertical="5%" data-show-transition="left" data-hide-transition="down" data-show-delay="300" data-hide-delay="0">{{item.text}}</h3>
            {%endif%}
        </div>
       {% endfor %}
    </div>

    <div class="sp-thumbnails">
       {% for item in slides %}
        <div class="sp-thumbnail">
            <div class="sp-thumbnail-image-container">
                <img class="sp-thumbnail-image" src="{{asset(item.name)}}"/>
            </div>
        </div>
       {% endfor %}
    </div>
</div>