<!DOCTYPE html>
<html lang="ro">
<head>
    {% include 'part/head.twig' %}
    <title>{{app['conf.title']}}{{title is defined?' | '~title:''}}</title>
    {% if meta is defined %}{% for key,itm in meta %}
    <meta name="{{key}}" content="{{itm}}">
    {% endfor %}{% endif %}
</head>
<body class="landing">
    <div class="header">
        <div class="headerinside">
            <div class="topline">
                <img src="{{asset('img/logo_3.png')}}" alt="" class="logo">
                <div class="logotext">{{app['conf.title']}}{{title is defined?' | '~title:''}}</div>
                <span class="right">Lansare <strong>Beta</strong></span>
            </div>
            <h1 class="headertitle">Organizează-te, salvează-ți timpul!</h1>
            <h2 class="headerline">Organizează-ți activitățile, proiectele și evenimentele cu DaySplit pentru a-ți economisi timpul.</h2>
            <div class="btncont">
                <a href="{{l('/account')}}" class="btn btn-large waves-effect white">Accesare cont</a>
                <a href="{{l('/account#signup')}}" class="btn btn-large waves-effect white">Creare cont</a>
            </div>
            <a href="{{l('/fblogin')}}" class="slimlink">Logare cu facebook</a>
        </div>
    </div>






    {% include 'part/scripts.twig' %}
</body>
</html>
