<!DOCTYPE html>
<html lang="ro">
<head>
    {% include 'part/head.twig' %}
    <title>{{app['conf.title']}}{{title is defined?' | '~title:''}}</title>
    {% if meta is defined %}{% for key,itm in meta %}
    <meta name="{{key}}" content="{{itm}}">
    {% endfor %}{% endif %}
</head>
<body class="landing">
    <div class="header lheadersm">
        <div class="inner">
            <div class="topline">
                <img src="{{asset('img/logo_small.png')}}" alt="" class="logo">
                <div class="logotext">{{app['conf.title']}}{{title is defined?' | '~title:''}}</div>
                <span class="right">Lansare <strong>Beta</strong></span>
            </div>
            <h1 class="headertitle">Organizează-te, salvează-ți timpul!</h1>
            <h2 class="headerline">Organizează-ți activitățile, proiectele și evenimentele cu DaySplit pentru a-ți economisi timpul.</h2>
            <div class="btncont">
                <a href="{{l('/account')}}" class="btn btn-large waves-effect white">Accesare cont</a>
                <a href="{{l('/account#signup')}}" class="btn btn-large waves-effect white">Creare cont</a>
            </div>
            <a href="{{l('/fblogin')}}" class="slimlink">Logare cu facebook</a>
        </div>
    </div>
    <div class="headercolorbar z-depth-2">
        <div class="color1"></div>
        <div class="color2"></div>
        <div class="color3"></div>
        <div class="color4"></div>
        <div class="color5"></div>
        <div class="color6"></div>
        <div class="color7"></div>
        <div class="color8"></div>
        <div class="color9"></div>
    </div>
    <div class="subheader">
        <div class="inner row">
            <div class="sh-itm col s12 m4">
                <i class="material-icons">&#xE01F;</i>
                <h3>Organizare Rapidă</h3>
                <p>Utilizarea platformei este extrem de ușoară, rapidă și este facilitată utilizarea exclusivă a tastaturii.</p>
            </div>
            <div class="sh-itm col s12 m4">
                <i class="material-icons">&#xE425;</i>
                <h3>Economisire timp</h3>
                <p>Cu un program fix, utilizatorul își va organiza mai bine lucrul, economisind din timp.</p>
            </div>
            <div class="sh-itm col s12 m4">
                <i class="material-icons">&#xE7EF;</i>
                <h3>Lucru în echipă</h3>
                <p>Modulul de grupuri al platformei oferă posibilitatea de a organiza și a sincroniza programul într-un grup de utilizatori.</p>
            </div>
        </div>
    </div>






    {% include 'part/scripts.twig' %}
</body>
</html>
