<html lang="ro">
<head>
    <title>{{subject}}</title>
</head>
<body>
    <div style="width:95%;max-width:400px;font-size:20px;text-align:center;padding:15px 10px;color:white;background:#3084FF;font-family:sans-serif;">
        <h2>{{title is defined ? title}}</h2>
        <p> {{text1 is defined ? text1}} </p>
        <p> {{link is defined ? '<a href="'~link|raw~'">'~link~'</a>'}} </p>
        <p> {{text2 is defined ? text2}} </p>
    </div>
</body>
</html>
