<!DOCTYPE html>
<html lang="ro">
<head>
    {% include 'part/head.twig' %}
    <title>{{app['conf.title']}}{{title is defined?' | '~title:''}}</title>
    {% if meta is defined %}{% for key,itm in meta %}
    <meta name="{{key}}" content="{{itm}}">
    {% endfor %}{% endif %}
</head>
<body id="login">
    <div class="body row blue">
        <div class="loginbox nr1">
            <form class="col s12 l8 inpad" id="form-login" method="POST">
                <div class="row">
                <div class="col header s12">
                    <i class="large material-icons">&#xE55A;</i>
                </div>
                </div>
                <div class="row">
                <div class="input-field col s12">
                    <input id="l_em" type="email" name="email" autocomplete="off" tabindex="1" required autofocus>
                    <label for="l_em">Email</label>
                </div>
                </div>
                <div class="row">
                <div class="input-field col s12">
                    <input id="l_pw" type="password" name="password" required tabindex="2">
                    <label for="l_pw">Parolă</label>
                </div>
                </div>
                <div class="row">
                <div class="col s12">
                    <input type="checkbox" id="cbox" name="keepin" value="1" tabindex="3">
                    <label for="cbox">Ține-mă logat</label>
                </div>
                </div>
                <div class="row">
                <div class="input-field col s12 center-align">
                    <button class="btn blue waves-effect waves-light btn-large" type="submit" name="action" tabindex="4">
                      Logare
                      <i class="material-icons left">&#xE163;</i>
                    </button>
                </div>
                </div>
            </form>
            <form class="col s12 l8 inpad" id="form-signup" method="POST">
                <div class="row">
                <div class="col header s12">
                    <i class="large material-icons">&#xE7FE;</i>
                </div>
                </div>
                <div class="row">
                <div class="input-field col s12">
                    <input id="s_em" type="email" name="email" required autocomplete="off" tabindex="1">
                    <label for="s_em">Email</label>
                </div>
                </div>
                <div class="row">
                <div class="input-field col s12">
                    <input id="s_pw" type="password" name="password" required tabindex="2">
                    <label for="s_pw">Parolă</label>
                </div>
                </div>
                <div class="row">
                <div class="input-field col s12">
                    <input id="s_cpw" type="password" name="cpassword" required tabindex="3">
                    <label for="s_cpw">Confirmare Parolă</label>
                </div>
                </div>

                <div class="row">
                <div class="input-field col s12 center-align">
                    <button class="btn blue waves-effect waves-light btn-large" type="submit" name="action" tabindex="4">
                      Înregistrare
                      <i class="material-icons left">&#xE163;</i>
                    </button>
                    <br><br><a href="#" class="btn-login">Înapoi la formularul de logare</a>
                </div>
                </div>
            </form>
            <form class="col s12 l8 inpad" id="form-reset" method="POST">
                <div class="row">
                <div class="col header s12">
                    <i class="large material-icons">&#xE0DA;</i>
                </div>
                </div>
                <div class="row">
                <div class="input-field col s12">
                    <input id="r_em" type="email" name="email" required autocomplete="off" tabindex="1">
                    <label for="r_em">Email</label>
                </div>
                </div>

                <div class="row">
                <div class="input-field col s12 center-align">
                    <button class="btn blue waves-effect waves-light btn-large" type="submit" name="action" tabindex="4">
                      Resetare parolă
                      <i class="material-icons left">&#xE163;</i>
                    </button>
                    <br><br><a href="#" class="btn-login">Înapoi la formularul de logare</a>
                </div>
                </div>
            </form>
        </div>
        <div class="loginbox nr2 center-align">
            <p class="flow-text col s10 offset-s1">
                <img src="{{asset("img/logo_3.png")}}" alt="" class="logo2">
                Bun venit! DaySplit este o platformă online care permite administrarea și organizarea activităților, proiectelor și evenimentelor într-un mod extrem de ușor de utilizat.
            </p>
            <div class="clearfix"></div>
            <a href="{{l('/fblogin')}}" class="btn waves-effect col l5 ma waves-dark btn-large white">Logare cu Facebook</a> <br>
            <a href="#" id="btn-signup" class="btn waves-effect col l5 ma waves-dark btn-large white">Cont nou</a><br>
            <a href="#" id="btn-reset" class="btn waves-effect col l5 ma waves-dark red lighten-1">Restare parolă</a><br>
        </div>
    </div>
    {% include 'part/scripts.twig' %}
</body>
</html>
