<!DOCTYPE html>
<html ng-app="daysplit">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{app['conf.title']}}{{title is defined?' | '~title:''}}</title>
    {% if meta is defined %}{% for key,itm in meta %}
    <meta name="{{key}}" content="{{itm}}">
    {% endfor %}{% endif %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,900&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700,900" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Dosis:400,700,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="{{asset('components/data.css')}}" rel="stylesheet">
    <link href="{{asset('fixer.css')}}" rel="stylesheet">
    <link href="{{asset('main.css')}}" rel="stylesheet">
</head>
<body id="login">
    <div class="colorbar z-depth-1"></div>
    <div class="row">
        <div class="z-depth-1 loginbox hat blue">
            <div class="col-2 sec1">
                <form class="col s12 inpad white">
                  <div class="row">
                    <div class="col header s12">
                        <i class="large material-icons">person_pin</i>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" autocomplete="off" autofocus>
                        <label for="email" data-error="Wrong email address">Email</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="password" type="password">
                      <label for="password">Parola</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12 center-align">
                      <input type="submit" class="btn blue waves-effect waves-light" value="Logare">
                    </div>
                  </div>
                </form>
            </div>
            <div class="col-2 sec2">
                <a href="" class="btn white"><i class="fa fa-facebook"></i> Facebook</a>
            </div>
        </div>
    </div>
    <script src="{{asset('components/data.js')}}"></script>
    <script src="{{asset('app.js')}}"></script>
</body>
</html>
