<!DOCTYPE html>
<html ng-app="daysplit">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{app['conf.title']}}{{title is defined?' | '~title:''}}</title>
    {% if meta is defined %}{% for key,itm in meta %}
    <meta name="{{key}}" content="{{itm}}">
    {% endfor %}{% endif %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,900&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700,900" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Dosis:400,700,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="{{asset('components/data.css')}}" rel="stylesheet">
    <link href="{{asset('fixer.css')}}" rel="stylesheet">
    <link href="{{asset('main.css')}}" rel="stylesheet">
</head>
<body id="login">
    <div class="body row blue">
        <div class="col m6 s12 loginbox nr1">
            <form class="col s12 l8 inpad" method="POST">
              <div class="row">
                <div class="col header s12">
                    <i class="large material-icons">person_pin</i>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" autocomplete="off" tabindex="1" autofocus>
                    <label for="email" data-error="Wrong email address">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="password" type="password" tabindex="2">
                  <label for="password">Parola</label>
                </div>
              </div>
              <div class="row">
                  <div class="col s12">
                      <input type="checkbox" id="cbox" tabindex="3">
                      <label for="cbox">Ține-mă logat</label>
                  </div>
              </div>
              <div class="row">
                <div class="input-field col s12 center-align">
                  <button class="btn blue waves-effect waves-light btn-large" type="submit" name="action" tabindex="4">
                      Logare
                      <i class="material-icons left">send</i>
                  </button>
                </div>
              </div>
            </form>
        </div>
        <div class="col m6 s12 loginbox nr2 center-align">
            <p class="flow-text col s10 offset-s1">
                Bun venit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ab, quia porro totam a? Illum nihil tempore hic, dolor. Quas possimus id architecto sunt vero illo est, odit nesciunt similique!
            </p><br>
            <a href="#" class="btn waves-effect col l5 ma waves-dark btn-large white">Logare cu Facebook</a> <br>
            <a href="#" class="btn waves-effect col l5 ma waves-dark btn-large white">Cont nou</a><br>
            <a href="#" class="btn waves-effect col l5 ma waves-dark red lighten-1">Restare parolă</a><br>
        </div>
    </div>
    <script src="{{asset('components/data.js')}}"></script>
    <script src="{{asset('app.js')}}"></script>
</body>
</html>
